/* ID */

#profile {
  border-radius:50%;
  min-height:100px;
  min-width:100px;
  max-height:800px;
  max-width:800px;
}

#links{
  display:block;
  text-align: center;
  margin:auto;
  width: 50%;
  color:black;
}

/* Classes */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.hero{
  width: 100%;
  /* height: 100vh; */
  background-color:mediumseagreen;
  padding-top: 0px;
  margin-top: 0%;
}

.content{
  position:absolute;
  display:inline-block;
  top:25%;
  left:8%;
}

.content h1 span{
  color: mediumseagreen;
}

.content img {
  margin-top: -45vh;
  margin-left:45vw;
}

span{
  color: antiquewhite;
}

/*  */

body{
  background-color:antiquewhite;
  background-size: cover;
  margin: 0;
}

nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:30px 100px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color:black;
  position:relative;
  padding:5px 0;
}